<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Client directory</h1>
    <ul>
        {% for client in clients %}
            <li>
                <div>NAME: {{ client.name }}</div>
                <div>INDUSTRY: {{ client.industry }}</div>
                <div>STATUS: {{ client.status }}</div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>